:root {
  --md-text-font: "JetBrains Mono", "LXGW WenKai Screen"; 
  --md-code-font: "JetBrains Mono";
}

/* Code font size in <details> */
details .linenos, details code {
  font-size: inherit !important;
}

/* Code block / tab in details */
details > summary + .highlight:last-child, details > summary + .tabbed-set:last-child { margin: 0 -0.6rem !important; }
details > summary + .highlight:last-child > .highlighttable { margin: 0 !important; }

@media screen and (min-width: 960px) {
  /* body {
    zoom: 1.1;
  } */
  html {
    font-size: 137.5%;
  }
}

@media screen and (min-width: 100em) {
  html {
    font-size: 137.5%;
  }
}

@media screen and (min-width: 125em) {
  html {
    font-size: 137.5%;
  }
}

[data-md-color-scheme="huayi"] {
  /* --md-primary-fg-color:        #E6E6FA; */
  /* --md-primary-fg-color:        #B0C4DE; */
  --md-primary-fg-color:        #5F9EA0;
  --md-primary-fg-color--light: #AFEEEE;
  --md-primary-fg-color--dark:  #AFEEEE;
}



